{% extends 'layouts/base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<table class="table" id="accounts">
	<thead>
		<th class="all">Institution</th>
		<th>Type</th>
		<th>Account</th>
		<th>Due</th>
		<th class="all">Balance</th>
	</thead>
	<tbody>
		{% for account in accounts %}
		{% include 'partials/_account.html.twig' %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
