{% extends 'layouts/base.html.twig' %}

{% block content %}
<table class="table table-striped">
	<thead>
		<th>Account</th>
		<th>Balance</th>
	</thead>
	<tbody>
		{% include 'partials/_account.html.twig' %}
		{% include 'partials/_account.html.twig' %}
		{% include 'partials/_account.html.twig' %}
		{% include 'partials/_account.html.twig' %}
	</tbody>
</table>
{% endblock %}
