{% extends 'layouts/base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<table class="table table-striped" id="accounts">
	<thead>
		<th>Institution</th>
		<th>Account</th>
		<th>Balance</th>
	</thead>
	<tbody>
		{% for account in accounts %}
		{% include 'partials/_account.html.twig' %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
